* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
}

a {
  text-decoration: none;
}

/* Fonts */

.inter {
  font-family: "Inter";
}

.container {
  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  position: relative;
}

.home-container {
  display: flex;
  width: 820px;
  gap: 28px;
  overflow: hidden;
}

.text-section {
  padding: 40px 0;
}

.greeting {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: -12px;
}

.name-title {
  font-size: 128px;
  font-style: italic;
}

.subtitle {
  margin-top: -8px;
  font-size: 36px;
}

.profile-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-button {
  margin-top: 12px;
  padding: 8px;
  border-radius: 12px;
  font-size: 24px;
  /* text-decoration: underline; */
}

.profile-img {
  width: 330px;
  border-radius: 28px;
  transition: all ease 0.5s;
}

.home-buttons {
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.resume-button {
  border-radius: 20px;
  padding: 16px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 24px;
  text-align: center;
}

.resume-svg {
  height: 20px;
}

.home-svg {
  height: 60px;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-me-title {
  font-size: 52px;
  font-weight: 400;
}
.about-me-name {
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
}
.about-me-desc {
  width: 460px;
  font-size: 16px;
  text-align: justify;
  font-weight: 200;
}

.about-me-hobbies-title {
  font-size: 30px;
  font-weight: 400;
}

.hobbies-container {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.hobby {
  display: flex;
  border: 1px solid #7f7f7f;
  border-radius: 12px;
  padding: 8px;
}

.mouse {
  position: absolute;
  bottom: 60px;
  width: 52px;
  height: 80px;
  border-radius: 24px;
  background: transparent;
  border: 4px solid #fff;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mouse:before {
  content: "";
  position: absolute;
  top: 12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  animation: animate 1s linear infinite;
}

.mouse:after {
  content: "";
  position: absolute;
  top: 6px;
  width: 6px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  border-radius: 4px;
}

@keyframes animate {
  0% {
    transform: translate(0%, 20px);
    opacity: 0;
  }
  80% {
    transform: translate(0%, 60px);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 100px);
  }
}

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  /* background-color: red; */
  margin: 40px;
}

.section-title {
  font-size: 60px;
  margin-bottom: 24px;
}

.skills-container {
  margin: 24px 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 16px;
}

.skill {
  padding: 12px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #959595;
  border-radius: 16px;
  text-align: center;
  /* background-color: red; */
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  /* display: none; */
}

.projects-card-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}

.project-card {
  border: 1px solid #292929aa;
  border-radius: 24px;
  height: 640px;
  width: 440px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.project-card-img {
  object-fit: cover;
  border-radius: 16px;
  width: 400px;
  height: 300px;
}

.project-card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 8px;
}

.project-card-title {
  font-size: 36px;
}

.project-card-desc {
  font-size: 16px;
  color: #cacaca;
  height: 80px;
}

.project-card-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.project-card-tech {
  font-size: 14px;
  border: 1px solid #aaaa;
  border-radius: 12px;
  padding: 6px;
}

.project-card-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.project-card-link {
  background-color: #fff;
  color: #000;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  padding: 6px 8px;
  border-radius: 8px;
}

.project-svg {
  height: 24px;
}

.education-section {
  /* margin: 80px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.education-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  padding: 40px;
  width: 600px;
  /* background-color: rebeccapurple; */

  position: relative;
}

.education-date,
.education-subtitle {
  font-weight: 200;
  font-size: 20px;
}

.education-heading {
  font-size: 28px;
}

.timeline-line {
  position: absolute;
  top: 144px;
  left: -20px;
  width: 4px;
  height: 340px;
  background-color: #fff;
}

.timeline-circle {
  height: 20px;
  width: 20px;
  background-color: white;
  position: absolute;
  top: 44px;
  left: -28px;
  border-radius: 50%;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50dvh;
  gap: 24px;
}

.contact-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.contact-svg {
  height: 40px;
}

.contact-email {
  font-size: 44px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.copy-clipboard {
  position: relative;
  cursor: pointer;
}

.copy-clipboard .tooltip {
  visibility: hidden;
  width: 136px;
  font-size: 12px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 56px;
  left: -16px;
  margin-left: -28px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copy-clipboard .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.copy-clipboard:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    overflow: hidden;
  }
  nav {
    display: none;
  }
  .home-section {
    flex-direction: column;
    overflow: hidden;
  }
  .greeting {
    font-size: 28px;
  }
  .name-title {
    font-size: 72px;
  }
  .subtitle {
    font-size: 24px;
  }
  .profile-img {
    object-fit: cover;
    width: 260px;
    height: 320px;
  }

  .resume-button {
    font-size: 20px;
  }
  .resume-svg {
    width: 16px;
    height: 16px;
  }

  .home-svg {
    width: 44px;
    height: 44px;
  }

  .home-container {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .about-me-button {
    display: none;
  }

  .about-me-section {
    display: none;
    /* scale: 0.8; */
  }

  .mouse {
    display: none;
  }

  .section-title {
    font-size: 48px;
  }
  .skills-container {
    overflow: hidden;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
  }
  .skill {
    font-size: 12px;
    padding: 8px;
  }

  .projects-card-container {
    grid-template-columns: auto;
  }

  .project-card {
    width: 340px;
    height: 540px;
  }

  .project-card-img {
    width: 300px;
    height: 200px;
  }

  .education-block {
    width: 100%;
  }

  .education-date,
  .education-subtitle {
    font-size: 12px;
  }
  .education-heading {
    font-size: 14px;
  }

  .timeline-line {
    left: 16px;
    width: 2px;
    height: 220px;
  }

  .timeline-circle {
    left: 11px;
    top: 60px;
    width: 12px;
    height: 12px;
  }

  .contact-email {
    font-size: 28px;
  }

  .contact-svg {
    width: 24px;
  }
}
